*{
	margin: 0 auto;
	background-color:#EEF0F1;
	font: 1em "Roboto", sans-serif;
	text-align: center;
}
header{
	text-align: center;
	background-color:#6474FF;
	height: 120px;
}

button{
	margin: 35px;
	float: right;
	height: 35px;
	width: 90px;
	color: white;
	background-color: #FFC000;
	border-radius: 8px;
	border-style: none;
	cursor: pointer;
	font-weight: bold;
}
.portfolio{
	margin: 10px auto;
	position: relative;
	bottom: 70px;
	background-color:white;
	height: 230px;
	width: 650px;
	border-radius: 50px;
}
img {
  margin: auto;
  display: block;
  border: 4px solid #6474FF;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  top: 20px;
  
}

h1{
	margin: 40px 0px 20px 0px;
	background-color:white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
blockquote{
	margin: 25px auto;
	background-color:white;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}



h2{
	margin: 0 auto;
	background-color:#6474FF;
}
p{
	text-align: center;
}

.skills{
	margin: 0px 200px;
	text-align: center;
	bottom: 70px;
	background-color:white;
	height: 260px;
	width: 220px;
	border-radius: 50px;
	float: left;
}
table{
	margin: auto;
}

tr{
	margin: 0px 35px;
	float: left;
	height: 270px;
	width: 250px;
	background-color:white;
	border-radius: 10%;
	text-align: center;
}

.nam{
	margin: 0px 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	width: 50%;
	top: 40px;
	background-color:white;
}
.nam:last-child{
	width: 40%;
}
td{
	margin: 70px 0px 0px 10px;
	position: absolute;
	background-color:white;
}
li{
	background-color:white;
	text-align: left;
}
ul{
	background-color:white;
	padding: 0px 60px;
}
#ullinks{
	padding: 0px;
	position: relative;
	top: 20px;
	font-weight: normal;
}
footer{
	margin: 0 auto;
	bottom:0%;
    position:absolute;
	width: 100%;
	text-align: center;
	background-color:#6474FF;
	height: 120px;
}
#links{
	margin: 25px 0px 20px 0px;
	background-color:#6474FF;
	color:white;
	font-size: 15px;
	letter-spacing: 1.5px;
	position: relative;
	top: 25px;
}
footer * {
    display: inline;
    color: white;
    background-color: #6474FF;

}
footer li {

	margin: 5px auto;
	position: relative;
	top: 30px;
    margin: 20px;
    
}
footer li a{
    font-style: italic;
	text-decoration: underline;
	font-family: system-ui;
	font-weight: normal;
}

