@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
*{
    background-color: #FFFFFF;
    font-family: 'Exo+2', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 50px 660px 50px;
  grid-gap: 5%;
  grid-template-areas:
        "m s s s s s c c c "
        "m h h h h h c c c "
        "m h h h h h c c c "
        "m h h h h h c c c "
        "m . . . . . c c c ";

}
.line_vertical{
    position:relative;
    float:right;
    
    
}

.grayline{
    width: 1200px;
    height: 3px;
    border-radius: 3px;
}
.items {
    background-color: #FFFFFF;
    grid-area: h;
}
.up_items{
    margin-top: 1%;
}
.products{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    background-color: transparent;
}
.redline{
    width:100px;
}
.search{
    margin: 20px 0px 0px 0px;
    width: 1200px;
    height: 50px;
    border-radius: 13px;
    background: #F6F6F6;
    border:0px solid gray;
    grid-area: s;
    background-size: 150px 30px;
    background-image:url("search.svg");
    background-position: -5% 50%;
    background-repeat: no-repeat;

}

input::placeholder {
    padding: 60px;
    font-weight: normal;
    font-weight: 400;
    font-size: 16px;
    
    color: #A6A6A6;;
}

.menuitems{
    border: 0px solid black;
    animation: myAnim 2s ease 0s 1 normal forwards ;
}
@keyframes myAnim {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.menuitems_img{

    background-color: white;

}
.generar{
    width: 392px;
    height: 60px;
    border-radius: 50px;
    background: #5C5C5C;
    margin-top: 98%;

    display: flex;
    align-items: center;
    justify-content: center
}
.generar_text{

    
    margin: 0;
    color: white;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;


}

.order {
    background: #F6F6F6;
    
    grid-area: c;
}
.order_items{
    margin: 20px 0px 0px 20px;
    background: #F6F6F6;
    
}
.order_orange_text{
    
    margin-top: 5%;
    margin-left: 0%;
    width: 400px;
    height: 90px;
    background-color: #FFF5D2;
    border: 1px solid #FFF5D2;
    border-radius: 10px;
    background-size: 25px 25px;
    background-image:url("!.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
    
}
.order_text_little{
    background-color: transparent;
    padding: 5%;
    margin-left: 10%;

    color: #DFAF00;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

}
.order_text{
    font-size: 30px;
    background-color: transparent;
    letter-spacing: 0;
    line-height: normal;
    min-height: 39px;
    font-weight: 700;
}
.item1{
    font-size: 20px;
    font-weight: 600;
    display: block;
    letter-spacing: 0;
    line-height: 30px;
    font-style: normal;
    min-height: 30px;
}
.item2{
    
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0;
    text-align: left;
    min-height: 24px;
    color: #6B6B6B;

}
.item3{
    
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #ACACAC;


}
.item4{
    font-size: 19px;
    font-weight: 600;
    line-height: 7px;
    letter-spacing: 0em;
    text-align: left;

}
.sidebar{
    grid-area: m;
    background-color: #F6F6F6;

}
.right{
    padding: 30px;
    border: 0px solid black;
    background-color: #F6F6F6;
}
.right_2{
    background-size: 8px 60px;
    background-image:url("line.svg");
    background-position:right;
    background-repeat: no-repeat;
}
.names{
    position: relative;
    top: -15%;
    left: 5%;
    display: inline-block;
    font-weight: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.blocks{
    margin-left: -2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.blockitems_img{
    width: 270px;
    background-color: white;
}
.bottomblock{
    width: 270px;
    height: 100px;
    border-radius: 0px 0px 15px 15px;
    background: #FFFFFF;
    box-shadow: 4px 4px 12px 0px #0000001A;

}
.blocknames{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.plus{
    height: 40px;
    width: 40px;
    margin-left: 75%;
    margin-top: -10%;
    background-color: white;
    border-radius: 10px;
    background-size: 12px 12px;
    background-image:url("plus.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.plus:hover{
    background-color: #353535;
    transition: 0.8s;
}
.blocknames_price{
    font-size: 16px;
    margin-left: 10px;
    color:  red;
}
.blockitems{
    border: 0px solid black;
    padding: 30px;
}
img{
    background-color: #F6F6F6;
}
.eat{

    font-style: bold;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
}
a{

    
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
}
.a_small{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #A6A6A6;
}
.a_search{
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A6A6A6;
}


@media (max-width:480px){

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 100px 50px;
  grid-gap: 5%;
  grid-template-areas:
        "m s s s s"
        "h h h h h"
        "h h h h h"
        "h h h h h"
        ". . . . .";

}
.right{
    background-color: white;
}
img{
    background-color: white;
}
.line_vertical{
    visibility: hidden;
}
.search{
    background-color: white;
    background-position: 15% 50%;
}
input::placeholder {
         color: transparent;
    }
.grayline{
    visibility: hidden;
}
.redline{
    visibility: hidden;
}
.blocks{
    margin-left: -2%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    
}

.blockitems_img{
    width: 150px;
    background-color: white;
}
.bottomblock{
    width: 150px;
    height: 100px;
    border-radius: 0px 0px 15px 15px;
    background: #FFFFFF;
    box-shadow: 4px 4px 12px 0px #0000001A;

}
.blockitems{
    padding: 30px;
}
}
